######################
# Adb Hacking
######################

# dump all activity stacks
function tasks() {
    adb shell dumpsys activity activities |grep "\bHist\b"
}

# print the top most component name,  like `com.pkg/com.pkg.ActivityName`
function comp() {
  tasks | head -1 | awk '{print $6}'
}

# topmost activity pid
function pids() {
  adb shell dumpsys activity activities |grep '\bProcessRecord\b'
}

# top most package name 
function pkg() {
  comp | head -1  | awk -F '/' '{print $1}'
}

# fragment layout of top most package (dump window)
function frag() {
  adb shell dumpsys activity `pkg` |grep -i '^\s*#'
}

# show fatal logcats  
function fatal() {
  adb logcat |grep -i 'fatal\|androidruntime\|uncaught'
}

# pull the font most apk
function pulls() {
  local app=$(pkg)
  local applicationPath=$(adb shell pm path $app | awk -F: '{print $2}')
  adb pull $applicationPath $app.apk
}


########################
# Android Development
########################

# shortcut to instrument mobile device for designated category
function instr() {
  systrace -t 8 gfx input view sched freq wm am hwui workq res dalvik sync disk load perf hal rs idle mmc
}












