alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"                  # Go to previous dir with -
alias cd.='cd $(readlink -f .)'    # Go to real dir (i.e. if current dir is linked)


# shortcuts
alias reload="source ~/.zshrc"
alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"
alias paths='echo -e ${PATH//:/\\n}'


# compatibility
alias ag=rg
alias op="open"
alias ff=fzf
alias cask="brew cask"
alias zip="zip -x *.DS_Store -x *__MACOSX* -x *.AppleDouble*"


# copy pwd to clipboard
alias cpwd="pwd|tr -d '\n'|pbcopy"

function lvimr(){
	vimr --nvim -u ~/.local/share/lunarvim/lvim/init.lua --cmd "set runtimepath+=~/.local/share/lunarvim/lvim" "@"
}


# download some link via remote server
function download() {
  ssh alger@workstation "wget -O - '$1' " > $2
}



# alias for cask launchers
alias jeb=$HOME/.cask/jeb/jeb_macos.sh
alias j4=$HOME/.cask/jeb4/j4.sh


# reset display settings
function rst() {
  displayplacer "id:1ED7BF36-74AA-223D-6617-871C836DDAE3 res:1080x1920 hz:60 color_depth:8 scaling:off origin:(0,0) degree:90" "id:40394CF4-C586-79AE-1199-6AA0914ECE2D res:1920x1080 hz:60 color_depth:8 scaling:off origin:(-1920,448) degree:0" &
} 



