CONDABASE=$($DOTFILES_DIR/bin/is-supported $DOTFILES_DIR/bin/is-arm64 $HOME/miniconda3 /usr/local/Caskroom/miniconda/base)
__conda_setup="$('$CONDABASE/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "$CONDABASE/etc/profile.d/conda.sh" ]; then
        . "$CONDABASE/etc/profile.d/conda.sh"
    else
        export PATH="$CONDABASE/bin:$PATH"
    fi
fi
unset __conda_setup