# the first script to execute
# define dotfiles dir
# define prepend-path

DOTFILES_DIR=$HOME/dotfiles
prepend-path() {
  [ -d $1 ] && PATH="$1:$PATH"
}

# Start with system path
# Retrieve it from getconf, otherwise it's just current $PATH
PATH=$($(command -v getconf) PATH)

prepend-path "/bin"
prepend-path "/usr/bin"
prepend-path "/usr/local/bin"
prepend-path "$HOME/bin"
prepend-path "$HOME/exec"
prepend-path "/sbin"
prepend-path "/usr/sbin"
prepend-path  "$HOME/.local/bin"
prepend-path "/usr/local/sbin"
prepend-path "$HOME/Library/Application Support/multipass/bin"



PATH=$(echo -n $PATH | awk -v RS=: '{ if (!arr[$0]++) {printf("%s%s",!ln++?"":":",$0)}}')
export PATH